VITE_SUPABASE_URL=https://qmqnihuomcdriuovpjys.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1w0G43zrkNbbyR9RV900iA_noUhumGG
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_1w0G43zrkNbbyR9RV900iA_noUhumGG
